{% extends 'layouts/base.html' %}

{% load static %}

{% block title %} HomePage {% endblock %}


{% block content %}
<div>
    <!-- ----------------------------  Navigation ---------------------------------------------- -->

    <div class="container">
      
      <!-- ----------x------------------  Navigation ------------------------x---------------------- -->
      <div class="b-example-divider"></div>
      
      <div class="rounded-3 container w-28 h-100 mx-auto  mt-5 shadow-lg" style="background-color: #B4CFB0;border-radius: 25px;" >
        <h3 class="rounded card-header card-header-divider"style="border-radius: 50px;">Contact</H3>
        <div class="card-body">
    <form action="" method="POST" novalidate>
        {%csrf_token%}
        {{form.as_p}}
        <button type="submit" class="btn btn-primary"style="background-color: #607677 ; color: #ffff;">envoyer</button>
    </form>
</div>
</div>
</div>
</div>

<div class="b-example-divider"></div>
{% endblock content %}