{% extends 'layouts/base.html' %}


{% block title %} HomePage {% endblock %}
{% block content %}
<div>
    <!-- ----------------------------  Navigation ---------------------------------------------- -->

    <div class="container">
      
      <!-- ----------x------------------  Navigation ------------------------x---------------------- -->
      <div class="b-example-divider"></div>
      
      <div class="rounded-3 container w-25 h-100 mx-auto  mt-5 shadow-lg" style="background-color: #B4CFB0;border-radius: 25px;" >
        <h3 class="rounded card-header card-header-divider"style="border-radius: 50px;">Connexion</H3>
        <div class="card-body">
          <form action="" method="post">
            {% csrf_token %}
            <div class="form-group">
              <label>Email</label> <input class="form-control" type="email" name="username"  parsley-trigger="change" required=""autocomplete="of">
            </div>
            <div class="form-group">
              <label>Mot de Passe</label> <input class="form-control" type="password"
                name="password" parsley-trigger="change" required="" autocomplete="of">
            </div>
              <div class="row pt-0 pt-0 pt-lg-5 mx-1 align-items-center">
                  <div class="col-lg-6 pb-4 pb-lg-0"></div>
                  <div class="col-lg-20">
                    <p class="text-right">
                      <button class="rounded-pill btn btn-space btn-success" type="submit">Se Connecter</button>
                      <button class="btn btn-space btn-danger" type="reset">Cancel</button>
                    </p>
                  </div>
                </div>
                <a href="/inscription" style="color: #789395;">Pas de compte?Inscrivez-vous</a>
          </form>
        </div>
      </div>
    </div>
</div>

    <div class="b-example-divider"></div>
{% endblock content %} 
