<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"  href="{% static 'css/bootstrap.css' %}">

</head>
<body style="background-color: rgba(177, 202, 179, 0.76);">
    
    <div>
            
        <div class="card text-white bg-secondary" style="width: 18rem; height: 30rem;">
            <img src="{% static 'image/img2.jpeg' %}" alt="" width="100" height="100" style="margin-left: 30%;">
            <div class="card-body">
                   
                <li class="card-item">
                    <img src="{% static 'image/img9.jpeg' %}" alt="" width="20" height="20">
                         <a class="card-link" href="#"><button class="btn text-white btn-outline-primary btn-sm mb-3" style="margin-left: 2%;" type="button">Membres</button></a>    
                    </li>
                    <li class="card-item">
                        <img src="{% static 'image/img8.jpeg' %}" alt="" width="20" height="20">
                          <a class="card-link" href="#"><button class="btn text-white btn-outline-primary btn-sm mb-3" style="margin-left: 2%;" type="button">Epreuves</button></a>
                    </li>
                     <li class="card-item">
                        <img src="{% static 'image/img5.jpeg' %}" alt="" width="20" height="20">
                          <a class="card-link" href="#"><button class="btn text-white btn-outline-primary btn-sm mb-3" style="margin-left: 2%;" type="button">Corrections</button></a>
                     </li>
                    <li class="card-item">
                        <img src="{% static 'image/img12.jpeg' %}" alt="" width="20" height="20">
                        <a class="card-link" href="#"><button class="btn text-white btn-outline-primary btn-sm mb-3" style="margin-left: 2%;" type="button">Modules</button></a>
                    </li>
                    <li class="card-item">
                        <img src="{% static 'image/img3.jpeg' %}" alt="" width="20" height="20">
                         <a class="card-link" href="#"><button class="btn text-white btn-outline-primary btn-sm mb-3"style="margin-left: 2%;" type="button">Filieres</button></a>
                    </li>
                    <div class="card-item" style="margin-top: 30%;">
                      <img src="{% static 'image/img13.jpeg' %}" alt="" width="20" height="20" style="margin-top: -8%;">
                       <a class="card-link" href="#"><button class="btn text-white btn-outline-danger btn-sm mb-3" style="margin-left: 2%;" type="button">Deconnexion</button></a>
                    </div>
                      
                
            </div>
          </div>

          <div>
            <nav class="navbar navbar-expand-lg" style="margin-top: -35.5%; margin-left: 21.5%; background-color: #60a786;">
                <div class="container-fluid ">
                  <a class="navbar-brand btn-outline-dark" href="#"><strong>Filieres</strong></a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNavDropdown" style="margin-left: 80%;">
                    <ul class="navbar-nav">
                      <li class="nav-item dropdown">
                         <strong> User</strong>
                        </a>                       
                      </li>        
                    </ul>
                    <div>
                        <img src="{% static 'image/img9.jpeg' %}" alt="" width="20" height="20" style="margin-left: 100%; margin-bottom: -1%;">
                      </div>
                  </div>
                </div>
              </nav>
          </div>

          <!-- card lti -->
          <div>
            <div class="card" style="width: 15rem; margin-left: 22%; margin-top: 1%; background-color: rgb(73, 168, 121);">
              <img src="{% static 'image/img14.jpeg' %}" class="rounded-circle" alt="" style="width: 30%; height: 30%; margin-left: 32%;">
              <div class="card-body">
                <h5 class="card-title" style="margin-left: 40%;"><strong>LTI</strong></h5>
              </div>
            </div>
            <div>
              <img src="{% static 'image/img8.jpeg' %}" class="rounded-circle" alt="" style="width: 2%; height: 2%; margin-left: 42%; margin-top: -22%;">
            </div>
            <a href="#" class=""><button class="btn btn-outline-info" style="margin-top: -25%; margin-left: 45%;"><strong>Details</strong></button></a>
          </div>

          <!-- card limen -->
          <div>
            <div class="card" style="width: 15rem; margin-left: 22%; margin-top: 1.5%; background-color: rgb(66, 139, 136);">
              <img src="{% static 'image/img15.jpeg' %}" class="rounded-circle" alt="" style="width: 30%; height: 30%; margin-left: 32%;">
              <div class="card-body">
                <h5 class="card-title" style="margin-left: 30%;"><strong>LIMEN</strong></h5>
              </div>
            </div>
            <div>
              <img src="{% static 'image/img8.jpeg' %}" class="rounded-circle" alt="" style="width: 2%; height: 2%; margin-left: 42%; margin-top: -22%;">
            </div>
            <a href="#" class=""><button class="btn btn-outline-info" style="margin-top: -25%; margin-left: 45%;"><strong>Details</strong></button></a>
          </div>

          <!-- card IGIT-->
          <div>
            <div class="card" style="width: 15rem;  margin-left: 62%; margin-top: -31%; background-color: rgb(66, 139, 136);">
              <img src="{% static 'image/img12.jpeg' %}" class="rounded-circle" alt="" style="width: 30%; height: 30%; margin-left: 32%;">
              <div class="card-body">
                <h5 class="card-title" style="margin-left: 35%;"><strong>IGIT</strong></h5>
              </div>
            </div>
            <div>
              <img src="{% static 'image/img8.jpeg' %}" class="rounded-circle" alt="" style="width: 2%; height: 2%; margin-left: 82%; margin-top: -22%;">
            </div>
            <a href="#" class=""><button class="btn btn-outline-info" style="margin-top: -25%; margin-left: 85%;"><strong>Details</strong></button></a>
          </div>

          <!-- card INGC -->

          <div>
            <div class="card" style="width: 15rem; margin-left: 62%; margin-top: 2%; background-color: rgb(73, 168, 121);">
              <img src="{% static 'image/img11.jpeg' %}" class="rounded-circle" alt="" style="width: 30%; height: 30%; margin-left: 32%;">
              <div class="card-body">
                <h5 class="card-title" style="margin-left: 35%;"><strong>INGC</strong></h5>
              </div>
            </div>
            <div>
              <img src="{% static 'image/img8.jpeg' %}" class="rounded-circle" alt="" style="width: 2%; height: 2%; margin-left: 82%; margin-top: -22%;">
            </div>
            <a href="#" class=""><button class="btn btn-outline-info" style="margin-top: -25%; margin-left: 85%;"><strong>Details</strong></button></a>
          </div>

          <!-- card IGTT -->
          <div>
            <div class="card" style="width: 15rem; margin-left: 22%; margin-top: 1%; background-color: rgb(73, 168, 121);">
              <img src="{% static 'image/img10.jpeg' %}" class="rounded-circle" alt="" style="width: 30%; height: 30%; margin-left: 32%;">
              <div class="card-body">
                <h5 class="card-title" style="margin-left: 40%;"><strong>IGTT</strong></h5>
              </div>
            </div>
            <div>
              <img src="{% static 'image/img8.jpeg' %}" class="rounded-circle" alt="" style="width: 2%; height: 2%; margin-left: 42%; margin-top: -22%;">
            </div>
            <a href="#" class=""><button class="btn btn-outline-info" style="margin-top: -25%; margin-left: 45%;"><strong>Details</strong></button></a>
          </div>
          
          <div class="card mb-1" style="background-color: #60a786; margin-top: -3%;">
            <div class="card-body">
              <h3 class="card-title" style="margin-left: 45%;"><strong>E-learning</strong></h3>
              <p class="card-text" style="margin-left: 33%;"><strong>Rocade Fann Bel Air Dakar - Rond Point ONU - Colobane, Dakar</strong></p>
              <p class="card-text" style="margin-left: 40%;"><strong>+221 33 869 03 00 | http://www.esmt.sn/</strong></p>
              <p class="card-text" style="margin-left: 35%; margin-top: -2%;"><strong>________________________________________________________________</strong></p>
              <p class="card-text" style="margin-left: 41%; margin-top: -1%;"><strong>© E-Learning, All Right Reserved</strong></p>



            </div>
          </div>
    
    
    {% block content %} {% endblock content %}
    </div>
    <script src="{% static 'js/bootstrap.js' %}" ></script>
</body>
</html>