{% extends 'base.html'%} 
{% block 'css' %}
{% endblock %} 
{% block title %} homepage {% endblock %} 
{% load static %}
{%block content %}
<div class="body">
  </nav>
     <div>
    <div class="card bg-white">
      <img src= "{% static 'image/img1.jpeg' %}" class="card-img img-fluid" alt="" style="width: 80%; margin-left: 20%;">
      <div class="card-img-overlay">
      </div>
    </div>
  </div>

  <div>
    <div class="card text-dark bg-light mb-3" style="max-width:17rem; margin-top: -60%;">
      <div class="card-body">
        <h5 class="card-title"><p class="card-text"><p style="margin-left: 10%;">Bienvenue sur la</p> <p style="margin-left: 17%;">bibliothèque</p> <p style="margin-left: 20%;">en ligne de </p> 
          <p style="margin-left: 10%;">l'Ecole Supérieure</p> <p style="margin-left: 17%;">Multinationale</p> <p>des Télécommunications</p> </p>
        </h5>
      </div>
    </div>
  </div>
  
  <!-- <div>
    <div class="card" style="width:17rem; margin-top:-2%;"> 
      <img src="{% static 'image/img2.jpeg' %}" class="card-img-top" alt="" >
    </div>
  </div>

  <div class="card mb-1" style="background-color: #60a786; margin-top: -0.3%; margin-left: 20%;">
    <div class="card-body">
      <h3 class="card-title" style="margin-left: 45%;"><strong>A propos</strong></h3>
      <p class="card-text">L'école Supérieure Multinationale des Télécommunications (ESMT) situé a dakar, a été créer en 1981
        a l'initiative de sept pays d'afrique de l'ouets (Bénin, Burkina Faso, Mali, Mauritanie, Niger, Sénégal, Togo),
        dans le cadre d'un programme des nations unies pour le développement, avec le soutien de l'UIT. La Guinee Conakry
        a rejoint les membres fondateurs en 1998. L'ESMT est un centre d'Excellence de l'union International des Télécommunications(UIT)
        depuis 2000 et membres des trois (3) secteurs de l'UIT (2013). Elle est membre du CAMES   
        <p style="margin-left: 80% ;"><a href="#" class="btn btn-sm-primary"><strong>En savoir Plus</strong></a></p>
      </p>
    </div>
  </div> -->
  <h3 class="text-center" style="margin-left: 25%; margin-top: 2%;"><strong>Epreuves récentes</strong></h3>

  <div>
    <div>
      {% for epreuve in epreuves %}
    <div class="card text-left col-3">
        <img class="card-img-top" src="holder.js/100px180/" alt="">
        <div class="card-body">
            <h4 class="card-title">Epreuve <strong>{{ epreuve.id }}</strong></h4>
            <p> Intitulet : <strong>{{ epreuve.intitulet }}</strong> </p>
            <p> Matiere : <strong>{{ epreuve.matiere }}</strong> </p>
            <p> Filiere : <strong>{{ epreuve.filiere}}</strong></p>
            <p>Professeur : <strong>{{ epreuve.professeur }}</strong> </p>
            <a name="" id="" class="btn btn-primary" href="/biblio/read/{{ epreuve.file }}" class="btn btn-primary">Read</a>
            <a name="" id="" class="btn btn-primary" href="/login/" class="btn btn-primary">Download</a>   
        </div>
    </div>
    {% endfor %} 
    </div>
  </div>
</div>
{% endblock content %}
{% block 'js'%} {% endblock%}
